/* Напис */
.marker::after {
    content: attr(data-before);
    display: inline-block;
    position: absolute;
    min-width: 21px;
    /* top: -0.5px; */ /* Неможливо налаштувати перекриття */
    transform: translate(-50%, -167%);
    padding: 0px 1px 0px 1px;
    color: white;
    /* background: rgba(0, 17, 248, 0.705); */
    font-size: 12px;
    border-radius: 2px;
    text-align: center;
    white-space: nowrap;
    /* overflow: hidden;
  text-overflow: ellipsis; */ /* якщо необхідно обмежити строку то зафіксувати ширину */
}

/* Трикутник */
.marker_house {
  position: absolute;
  transform: translateY(50%);
  border: 10px solid transparent;
  border-top: 10px solid rgba(248, 141, 0, 0.705);
}

/* Напис */
.marker_house::after {
  background: rgba(248, 141, 0, 0.705);
}

/* Трикутник */
.marker_entrance {
  position: absolute;
  transform: translateY(50%);
  border: 10px solid transparent;
  border-top: 10px solid rgba(244, 248, 0, 0.705);
}

/* Напис */
.marker_entrance::after {
  background: rgba(244, 248, 0, 0.705);
}

/* Трикутник */
.marker_apartment {
  position: absolute;
  transform: translateY(50%);
  border: 10px solid transparent;
  border-top: 10px solid rgba(132, 248, 0, 0.705);
}

/* Напис */
.marker_apartment::after {
  background: rgba(132, 248, 0, 0.705);
}

/* Трикутник */
.marker_organization {
  position: absolute;
  transform: translateY(50%);
  border: 10px solid transparent;
  border-top: 10px solid rgba(0, 248, 236, 0.705);
}

/* Напис */
.marker_organization::after {
  background: rgba(0, 248, 236, 0.705);
}


/* Трикутник */
.marker_route {
  position: absolute;
  transform: translateY(50%);
  border: 10px solid transparent;
  border-top: 10px solid rgba(56, 192, 216, 0.753);
}

/* Напис */
.marker_route::after {
  background: rgba(56, 192, 216, 0.753);
}