.container_menu {
    cursor: pointer;
    float: right;
}

.bar {
    width: 40px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 7px 0;
    transition: 0.4s;
}

.bar_1_change {
    transform:  translate(0px, 11px) rotate(-45deg);
    background-color: rgb(252, 0, 0);
}

.bar_2_change {
    opacity: 0;
    background-color: rgb(252, 0, 0);
}

.bar_3_change {
    transform:  translate(0px, -11px) rotate(45deg);
    background-color: rgb(252, 0, 0);
}