/* Видалити дані із карти */
.button_sidebar_delete {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.9);
    border-radius: var(--border-radius);
}

/* Пошук  */
.button_sidebar_find {
    width: 100%;
    background-color: rgba(0, 255, 221, 0.6);
    border-radius: var(--border-radius);
}

/* Копіювання до буферу обміну */
.button_sidebar_copy {
    width: 100%;
    background-color: rgba(183, 0, 255, 0.6);
    border-radius: var(--border-radius);
}

/* Відобразити дані на карті */
.button_sidebar_add_map {
    width: 100%;
    background-color: rgba(102, 255, 0, 0.6);
    border-radius: var(--border-radius);
}

/* Додати адресу у маршрут */
.button_sidebar_add_address_route {
    width: 100%;
    background-color: rgba(0, 102, 255, 0.6);
    border-radius: var(--border-radius);
}