.div_first_page_level_1 {
    /* background-color: var(--background-color-page); */
    /* border-radius: var(--border-radius); */
    padding: 0px 7px 7px 7px;
    height: auto !important;
}

.div_first_page_level_2 {
    margin-top: 4px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 2px;
    height: auto !important;
}

.div_next_to_first_page_level_2 {
    border-left: 2px solid rgb(255, 255, 255, 0.7);
    border-right: 2px solid rgb(255, 255, 255, 0.7);
    border-bottom: 2px solid rgb(255, 255, 255, 0.7);
    padding: 2px;
}



